/* REACT SLICK ARROW CUSTOM CSS */

.react__slick__slider__parent {
    position: relative;
}

.react__slick__slider__parent .slick-prev,
.react__slick__slider__parent .slick-next {
    position: absolute;
    top: 50%;
}

.react__slick__slider__parent .slick-prev {
    color: black;
    z-index: 1;
    left: 7%;
}

.react__slick__slider__parent .slick-next {
    color: black;
    z-index: 1;
    right: 7%;
}

.react__slick__slider__parent .slick-prev:before,
.slick-next:before {
    color: black;
}
